@import "../../index.scss";

.navbar {
  background: $mainBlack;
  text-transform: uppercase;
  color: $mainWhite;
  padding: 0.8rem 0 0.8rem 2.5rem;
  a {
    text-decoration: none;
    font-family: $markerFont;
    letter-spacing: 0.15rem;
    font-size: 2.5rem;
    color: $mainWhite;
    text-transform: $mainTransition;
    &:hover {
      color: $mainGreen;
    }
  }
}
