@import url("https://fonts.googleapis.com/css?family=B612+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");

$mainSilver: silver;
$mainBlack: #171d22;
$mainWhite: #eee;
$mainGray: #d5d5d5;
$mainGreen: #82b340;
$b612Font: "B612 Mono", monospace;
$markerFont: "Permanent Marker", cursive;
$mainTransition: all 0.3s liner;

* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  background: $mainSilver;
  font-family: $b612Font;
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}
